<div>
<ui class="posts-list">
  
  {% assign category = site.category | default: page.title %}
  {% for category in site.categories %}
   <p>
   <a class="sidebar-nav-item pl-3rem" onclick="fnMove('{{ category }}')" style="cursor:pointer;">
                          <span class="name">
                              {{ category | first }}          <!-- 카테고리의 이름 -->
                          </span>
      <span class="badge">{{ category | last | size }}</span> <!-- 해당 카테고리의 갯수 -->
    </a><p>
    <!--<li>
      <h3>
        <a href="{{ category.url }}">
          {{ category.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>-->
  {% endfor %}
  
</ul>
</div>
