<nav>
  <h1>Daehan lee's blog.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
      <img src="/logo4.png" id="logo_github" alt="logo_github"/>
    {% else %}
    <img src="/daehan.png" id="logo_trello" alt="logo_trello" href="https://trello.com/daehanlee2/boards"/>
    {% endif %}
  </a>
  <h2>I'm Daehan Lee.</h2>
  <div id="bio">
    <p>Soft Engineer</p>
    <p>
      Data Scientist/Analyst </code>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
