Follow me:
<div id="stalker">
  {% if site.data.theme.social.github %}
  <a title="{{ site.data.theme.social.github }} on Github" href="https://github.com/foxlee1015">
    <img src="/logo4.png" id="logo_github" alt="logo_github" href="https://github.com/foxlee1015">
  </a>
  {% endif %}

  {% if site.data.theme.social.trello %}
  <a title="{{ site.data.theme.social.trello }} on trello" href="https://trello.com/b/fblWW6Pu/studyingdaehan">
    <img src="/logo3.png" id="logo_trello" alt="logo_trello" href="https://trello.com/b/fblWW6Pu/studyingdaehan">
    
  </a>
  {% endif %}
</div>
  <p></p>
  <a title="Shopping website" href="https://shop.foxlee-p.ga/">Shopping website</a>
  <a title="Shopping website terllo" " href="https://trello.com/b/7suRQ1pY/shopping-website">Shopping website trello</a>
