/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 30000px) {
	.container { width : 100%; }
        .sidebar { float: left; width: 20%;}
	.content { float: left; width: 70%;}
	#logo {
		font-size: 21px;
		margin-bottom: 15px; }
	nav .button {
		padding: 9px 20px 11px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	nav {
		width: 160px; }
	.sidebar h2 {
		font-size: 18px;
	}

	#bio {
		font-size: 14px;
	}
	#post {
		width: 90%;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	header h1 { font-size: 34px; line-height: 37px; }
	nav { position: relative; }
	nav ul,
	.sidebar { display: none;}
	#logo { text-align: left; }
	.content {
		width: 95%;
		clear: both;
		border: 0px;
		padding-left: 0px;
	}
	#post {
		width: 90%;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	h1 {
		font-size: 24px;
		line-height: 32px;
	}
	.content {
		width: 95%;
	}

	h2 {
		font-size: 22px;
		line-height: 24px;
	}
	#post {
		width: 90%;
	}
}
